@import '../../base/tools/variables.scss';

.business-profile-address {
    background: $white;
    border-radius: 2px;
    padding: 0 20px;
    box-shadow: $primary-box-shadow;

    &-title {
        font-size: 30px;
        font-weight: normal;
        margin: 30px auto;
    }

    &-street,
    &-country {
        color: $gray-700;
    }
}