@import '../../base/tools/variables.scss';

.business-profile-contact {
   &-title {
       font-size: 30px;
       font-weight: normal;
       margin: 30px auto;
   }

   &-phone,
   &-email {
       color: $gray-700;
   }
}