@import "../../base/tools/variables.scss";
@import "../../base/tools/mixins.scss";
@import "../../base/tools/breakpoints.scss";

.business-profile-nearby-places-list {
    display: grid;
    grid-row-gap: 5px;
    padding: 0;

    &-item {
        display: grid;
        background: $gray-100;
        grid-row-gap: 8px;
        padding: 8px 15px;

        @include for-desktop-up {
            grid-auto-flow: column;
            grid-row-gap: 0;
            grid-template-columns: 200px max-content;
        }

        &-name,
        &-description {
            color: $gray-700;
        }

        &-name {
            font-weight: bold;

            @include for-desktop-up {
                font-weight: normal;
            }
        }

        &-description {
            @include text-overflow(3);

            @include for-desktop-up {
                @include text-overflow(1);
            }
        }
    }
}
