@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../../assets/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../../assets/fonts/Lato-Light.ttf') format('truetype');
}

@import '../base/elements/typography.scss';