$regular: "-Regular";
$light: "-Light";
$bold: "-Bold";

$primary-font: "Lato";

$primary-font-default: $primary-font + $regular;
$primary-font-bold: $primary-font + $bold;
$primary-font-light: $primary-font + $light;

$primary-box-shadow: 0px -9px 14px 0px #f6f6f6;

$white: #fff;

$gray-100: #f8f8fa;
$gray-200: #dbb7a2;
$gray-700: #68625b;

$orange-500: #D14314;
