@import "../../base/tools/variables.scss";

.navigation {
    display: flex;
    justify-content: center;
    padding: 25px;
    background: $white;
    box-shadow: $primary-box-shadow;

    img {
        max-width: 280px;
    }
}
