@import "../../base/tools/variables.scss";
@import "../../base/tools/breakpoints.scss";

.business-table-header {
    &-row {
        background: $white;
    }

    &-cell {
        padding: 10px;
        color: $orange-500;
        text-transform: uppercase;
        font-weight: bold;

        @include for-tablet-portrait-up {
            padding: 20px 30px;
        }
    }
}